### 11659 구간 합 구하기 4

In [1]:
N, M = map(int, input().split())

num = list(map(int, input().split()))

for _ in range(M):
    i, j = map(int, input().split())
    
    result = sum(num[i-1:j])
    print(result)

5 3
5 4 3 2 1

In [19]:
N, M = map(int, input().split())

num = list(map(int, input().split()))

d = [0] * (N+1)

for i in range(1, N+1):
    d[i] = d[i-1] + num[i-1]
    
for _ in range(M):
    i, j = map(int, input().split())
    
    answer = d[j] - d[i-1]
    
    print(answer)

5 3
5 4 3 2 1
1 3
12
2 4
9
5 5
1